.education {
    height: 100vh;
    display: flex;
    align-items: flex-start;
}

.education>div {
    flex: 1;
    width: 75vw;
    padding: 20px 20px 100px 0px;
}

.education>h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    width: 25vw;
    text-align: center;
}

.divider {
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
    padding-bottom: 10px;
}

.school {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    margin-right: 5vw;
}

.degree {
    display: flex;
    justify-content: space-between;
    margin-right: 5vw;
}