.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fcdb86;
    color: #fff;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.icon:hover {
    color: #E4EAEB;
}