@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    font-family: 'Quicksand';
}

strong {
    color: #4a029c;
    font-weight: 700;
}

em {
    font-style: italic;
}