@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,300;1,14..32,300&display=swap');


* {
    font-family: 'Inter';
}

strong {
    color: #4a029c;
    font-weight: 700;
}

em {
    font-style: italic;
}